<!DOCTYPE html>
<html>
  <head>
    <title>CasaMonedaTour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">

    <%= stylesheet_link_tag    'home', media: 'all' %>

  </head>

  <body>
    <div class="row">
      
      <%= yield %>

    </div>
  </body>
  <%= javascript_include_tag 'home' %>
</html>