<p id="notice"><%= notice %></p>

<h1>Coins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Num record</th>
      <th>Material</th>
      <th>Country</th>
      <th>Denomination</th>
      <th>Batch</th>
      <th>Location</th>
      <th>Issuer</th>
      <th>Serial number</th>
      <th>Part number</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.name %></td>
        <td><%= coin.num_record %></td>
        <td><%= coin.material %></td>
        <td><%= coin.country %></td>
        <td><%= coin.denomination %></td>
        <td><%= coin.batch %></td>
        <td><%= coin.location %></td>
        <td><%= coin.issuer %></td>
        <td><%= coin.serial_number %></td>
        <td><%= coin.part_number %></td>
        <td><%= coin.quantity %></td>
        <td><%= link_to 'Show', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coin', new_coin_path %>
